api/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsdl" targetNamespace="http://localhost:8000/wsdl" xmlns="http://localhost:8000/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- ******************************************************************** -->
  <!--                            Messages                                  -->
  <!-- ******************************************************************** -->

  <!-- getAllBooks -->
  <wsdl:message name="getAllBooksRequest">
  </wsdl:message>
  <wsdl:message name="getAllBooksResponse">
    <wsdl:part name="books" type="BookList"/>
  </wsdl:message>

  <!-- getBookById -->
  <wsdl:message name="getBookByIdRequest">
    <wsdl:part name="id" type="xs:int"/>
  </wsdl:message>
  <wsdl:message name="getBookByIdResponse">
    <wsdl:part name="book" type="Book"/>
  </wsdl:message>

  <!-- createBook -->
  <wsdl:message name="createBookRequest">
    <wsdl:part name="name" type="xs:string"/>
    <wsdl:part name="isbn" type="xs:int"/>
    <wsdl:part name="publish" type="xs:string"/>
    <wsdl:part name="authorId" type="xs:int"/>
  </wsdl:message>
  <wsdl:message name="createBookResponse">
      <wsdl:part name="book" type="Book"/>
  </wsdl:message>

  <!-- updateBookById -->
  <wsdl:message name="updateBookByIdRequest">
    <wsdl:part name="book" type="Book"/>
  </wsdl:message>
  <wsdl:message name="updateBookByIdResponse">
    <wsdl:part name="book" type="Book"/>
  </wsdl:message>

  <!-- deleteBookById -->
  <wsdl:message name="deleteBookByIdRequest">
    <wsdl:part name="id" type="xs:int"/>
  </wsdl:message>
  <wsdl:message name="deleteBookByIdResponse">
    <wsdl:part name="id" type="xs:int"/>
    <wsdl:part name="status" type="xs:int"/>
  </wsdl:message>

  <!-- getAllAuthors -->
  <wsdl:message name="getAllAuthorsRequest">
  </wsdl:message>
  <wsdl:message name="getAllAuthorsResponse">
    <wsdl:part name="authors" type="AuthorList"/>
  </wsdl:message>

  <!-- getAuthorById -->
  <wsdl:message name="getAuthorByIdRequest">
    <wsdl:part name="id" type="xs:int"/>
  </wsdl:message>
  <wsdl:message name="getAuthorByIdResponse">
    <wsdl:part name="author" type="Author"/>
  </wsdl:message>

  <!-- createAuthor -->
  <wsdl:message name="createAuthorRequest">
    <wsdl:part name="firstName" type="xs:string"/>
    <wsdl:part name="lastName" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="createAuthorResponse">
      <wsdl:part name="author" type="Author"/>
  </wsdl:message>

  <!-- updateAuthorById -->
  <wsdl:message name="updateAuthorByIdRequest">
    <wsdl:part name="author" type="Author"/>
  </wsdl:message>
  <wsdl:message name="updateAuthorByIdResponse">
    <wsdl:part name="author" type="Author"/>
  </wsdl:message>

  <!-- deleteAuthorById -->
  <wsdl:message name="deleteAuthorByIdRequest">
    <wsdl:part name="id" type="xs:int"/>
  </wsdl:message>
  <wsdl:message name="deleteAuthorByIdResponse">
    <wsdl:part name="id" type="xs:int"/>
    <wsdl:part name="status" type="xs:int"/>
  </wsdl:message>


  <!-- ******************************************************************** -->
  <!--                            Operations                                -->
  <!-- ******************************************************************** -->

  <wsdl:portType name="PaperLibraryPort">

    <!-- getAllBooks -->
    <wsdl:operation name="getAllBooks">
      <wsdl:input message="getAllBooksRequest"/>
      <wsdl:output message="getAllBooksResponse"/>
    </wsdl:operation>

    <!-- getBookById -->
    <wsdl:operation name="getBookById">
      <wsdl:input message="getBookByIdRequest"/>
      <wsdl:output message="getBookByIdResponse"/>
    </wsdl:operation>

    <!-- createBook -->
    <wsdl:operation name="createBook">
      <wsdl:input message="createBookRequest"/>
      <wsdl:output message="createBookResponse"/>
    </wsdl:operation>

    <!-- updateBookById -->
    <wsdl:operation name="updateBookById">
      <wsdl:input message="updateBookByIdRequest"/>
      <wsdl:output message="updateBookByIdResponse"/>
    </wsdl:operation>

    <!-- deleteBookById -->
    <wsdl:operation name="deleteBookById">
      <wsdl:input message="deleteBookByIdRequest"/>
      <wsdl:output message="deleteBookByIdResponse"/>
    </wsdl:operation>

    <!-- getAllAuthors -->
    <wsdl:operation name="getAllAuthors">
      <wsdl:input message="getAllAuthorsRequest"/>
      <wsdl:output message="getAllAuthorsResponse"/>
    </wsdl:operation>

    <!-- getAuthorById -->
    <wsdl:operation name="getAuthorById">
      <wsdl:input message="getAuthorByIdRequest"/>
      <wsdl:output message="getAuthorByIdResponse"/>
    </wsdl:operation>

    <!-- createAuthor -->
    <wsdl:operation name="createAuthor">
      <wsdl:input message="createAuthorRequest"/>
      <wsdl:output message="createAuthorResponse"/>
    </wsdl:operation>

    <!-- updateAuthorById -->
    <wsdl:operation name="updateAuthorById">
      <wsdl:input message="updateAuthorByIdRequest"/>
      <wsdl:output message="updateAuthorByIdResponse"/>
    </wsdl:operation>

    <!-- deleteAuthorById -->
    <wsdl:operation name="deleteAuthorById">
      <wsdl:input message="deleteAuthorByIdRequest"/>
      <wsdl:output message="deleteAuthorByIdResponse"/>
    </wsdl:operation>

  </wsdl:portType>

  <!-- ******************************************************************** -->
  <!--                            Bindings                                  -->
  <!-- ******************************************************************** -->

  <wsdl:binding name="PaperLibraryBinding" type="PaperLibraryPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

    <!-- getAllBooks -->
    <wsdl:operation name="getAllBooks">
      <soap:operation soapAction="getAllBooks"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- getBookById -->
    <wsdl:operation name="getBookById">
      <soap:operation soapAction="getBookById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- createBook -->
    <wsdl:operation name="createBook">
      <soap:operation soapAction="createBook"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- updateBookById -->
    <wsdl:operation name="updateBookById">
      <soap:operation soapAction="updateBookById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- deleteBookById -->
    <wsdl:operation name="deleteBookById">
      <soap:operation soapAction="deleteBookById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- getAllAuthors -->
    <wsdl:operation name="getAllAuthors">
      <soap:operation soapAction="getAllAuthors"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- getAuthorById -->
    <wsdl:operation name="getAuthorById">
      <soap:operation soapAction="getAuthorById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- createAuthor -->
    <wsdl:operation name="createAuthor">
      <soap:operation soapAction="createAuthor"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- updateAuthorById -->
    <wsdl:operation name="updateAuthorById">
      <soap:operation soapAction="updateAuthorById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- deleteAuthorById -->
    <wsdl:operation name="deleteAuthorById">
      <soap:operation soapAction="deleteAuthorById"/>
      <wsdl:input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!-- ******************************************************************** -->
  <!--                            Services                                  -->
  <!-- ******************************************************************** -->

  <wsdl:service name="PaperLibraryService">
    <wsdl:port binding="PaperLibraryBinding" name="PaperLibrary">
      <soap:address location="http://localhost:8001/wsdl"/>
    </wsdl:port>
  </wsdl:service>

  <!-- ******************************************************************** -->
  <!--                            Types                                  -->
  <!-- ******************************************************************** -->

  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Author">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="id" type="xs:id" />
          <xs:element name="firstName" type="xs:string" />
          <xs:element name="lastName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="AuthorList">
      <xs:complexType>
        <xs:sequence>
          <xs:element
          minOccurs='0'
          maxOccurs='unbounded'
          name='authors'
          type='Author'/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="Book">
      <xs:complexType>
        <xs:sequence>
          <xs:element
            name='id'
            type='xs:int'/>
          <xs:element
            name='name'
            type='xs:string'/>
          <xs:element
            name='isbn'
            type='xs:int'/>
          <xs:element
            name='publish'
            type='xs:string'/>
          <xs:element
            name='authorId'
            type='xs:int'/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:element name="BookList">
      <xs:complexType>
        <xs:sequence>
          <xs:element
          minOccurs='0'
          maxOccurs='unbounded'
          name='books'
          type='Book'/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>


</wsdl:definitions>